*::-webkit-scrollbar {
    background-color: rgb(12, 12, 12);
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(35, 35, 35);
}

* {
    font-family: 'Inter', sans-serif;
}

html, body {
    background-color: #000;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
